@font-face {
    font-family: 'dancing';
    src: url('../DancingScript-VariableFont_wght.ttf');
}

html,
body {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    background: #ffe;
    font-size: 14px;
    color: #231F20;
    overflow: auto
}

a {
    color: #000;
    font-size: 14px;
}

#main {
    width: 100%;
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 680px;
    margin-top: 10px;
}

#text {
    width: 400px;
    height: 425px;
    left: 60px;
    top: 80px;
    position: absolute;
}

#code {
    display: none;
    font-size: 20px;
}

#canvas {
    margin: 0 auto;
    width: 1100px;
    height: 680px;
}

.hand {
    cursor: pointer;
}

.say {
    margin-left: 5px;
}

.space {
    margin-right: 150px;
}

.say {
    font-family: 'dancing';
}

#avatar {
    opacity: 0;
}

.anh {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: solid yellowgreen 10px;
    animation: zoom 3s forwards;
}

@-webkit-keyframes zoom {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}